*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading{
    background-color: rgb(1, 1, 45);
    color: white;
    padding: 15px;
}
#mssg{
    background-color: rgb(1, 1, 45);
    border-radius: 10px;
    display: inline;
    padding: 10px;
   
    color: white;

}


img{
     /* border:4px solid black; */
    border-radius: 20px;
    
}
.choices :hover{
    opacity: 0.7;
    cursor: pointer;
   
}
.mssg-container{
    margin-top: 20px;}  

.choices{
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.score-board{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;

}
p{
    font-size: 20px;
    font-weight: bold;
}